$container-bg-color: #333;
$left-bg-color: rgba(80, 109, 255, 0.7);
$left-button-hover-color: rgba(255, 255, 255, 0.3);
$right-bg-color: rgba(255, 255, 255, 0.8);
$right-button-hover-color: rgba(80, 109, 255, 0.3);
$text-white: white;
$hover-width: 75%;
$other-width: 25%;
$speed: 1000ms;
$modal-color: #0e4d92;
$color_1: $right-bg-color;
$color_2: black;
$color_3: $text-white;
$color_4: $left-bg-color;
$font_family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font_family_2: "Allerta Stencil", sans-serif;
$font_family_3: 'Playfair Display', serif;
$background_color_1: $left-button-hover-color;
$background_color_2: $right-button-hover-color;
$background_color_3: $modal-color;
$border_color_1: $left-button-hover-color;
$border_color_2: $right-button-hover-color;


html {
	padding: 0;
	margin: 0;
	font-family: $font_family_1;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	font-family: $font_family_1;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
h1 {
	font-family: $font_family_2;
	font-size: 4rem;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	white-space: nowrap;
}
#leftH1 {
	color: $color_1;
}
#icon-left {
	i {
		left: 45%;
	}
}
#profilePic {
	img {
		width: 200px;
		height: auto;
		border-radius: 5%;
	}
	.media-body {
		align-self: center;
	}
}
.media-body {
	#AboutmeEmail {
		color: $color_2;
	}
	h5 {
		margin-top: 1rem;
	}
}
.split.left {
        left: 0;
        background: url("../img/boy.jpg") center center no-repeat;
	background-size: cover;
        transition: $speed all ease-in-out;
	&:before {
                position: absolute;
                content: "";
                background-color: $left-bg-color;
		width: 100%;
		height: 100%;
		transition: $speed all ease-in-out;
	}
	.button {
		&:hover {
			background-color: $background_color_1;
			border-color: $border_color_1;
			color: $color_3;
		}
	}
}
.hover-left {
	.left {
		width: $hover-width;
	}
	.right {
		width: $other-width;
		&:before {
			z-index: 2;
		}
	}
}
#left-side {
	overflow-y: auto;
}
#accordion {
	color: $color_3;
	text-decoration: none;
	a {
		color: $color_3;
		text-decoration: none;
	}
}
.l-icons {
	a {
		i {
			color: $color_1;
		}
	}
}
#rightBtn {
	color: $color_4;
}
#rightH1 {
	color: $color_4;
}
#icon-right {
	i {
		left: 55%;
	}
}
.split.right {
	right: 0;
	background: url("../img/programmer.png") center center no-repeat;
	background-size: cover;
	transition: $speed all ease-in-out;
	.button {
		&:hover {
			background-color: $background_color_2;
			border-color: $border_color_2;
			color: $color_3;
		}
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: $right-bg-color;
		transition: $speed all ease-in-out;
	}
}
.hover-right {
	.right {
		width: $hover-width;
	}
	.left {
		width: $other-width;
		&:before {
			z-index: 2;
		}
	}
}
.longTr {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.imgScroll {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	max-width: 200px;
	max-height: 300px;
	align-self: center;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.media {
	img {
		width: 200px;
		height: 500px;
	}
}
.imgScroll2 {
	img {
		height: 100%;
		width: 100%;
	}
}
.projects2 {
	.media {
		display: flex;
		flex-direction: column;
	}
}
.projectIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.r-icons {
	a {
		i {
			color: $color_4;
		}
	}
}
#accordion2 {
	color: $color_3;
	text-decoration: none;
	a {
		color: $color_3;
		text-decoration: none;
	}
}
.button {
	font-family: $font_family_3;
	display: block;
	position: absolute;
	left: 50%;
	top: 55%;
	height: 4rem;
	width: 15rem;
	text-align: center;
	color: $color_3;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}
.icons {
	i {
		position: absolute;
		top: 30%;
		padding-top: 1rem;
		transform: translateX(-50%);
	}
}
#icon-bottom {
	i {
		left: 50%;
		top: 40%;
	}
}
.modal-header {
	background-color: $background_color_3;
}
.modal-body {
	font-family: $font_family_3;
	background-color: $background_color_3;
}
.modal-footer {
	background-color: $background_color_3;
}
.card {
	background-color: $background_color_3;
	color: $color_3;
}
.card-header {
	background-color: $background_color_3;
}
.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
@media (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
	.button {
		width: 12rem;
	}
	#icon-left {
		i {
			left: 35%;
		}
	}
	#icon-right {
		i {
			left: 65%;
		}
	}
}
@media (max-width: 990px) {
	.media {
		display: flex;
		flex-direction: column;
		img {
			align-self: center;
		}
	}
}
@media (max-height: 700px) {
	.button {
		top: 70%;
	}
}
@media (max-width: 600px) {
	.media {
		display: flex;
		flex-direction: column;
		h5 {
			margin-top: 2rem;
		}
	}
}
